[Desktop Entry]
Name=STube
Comment=Download videos from YouTube and other sites
Exec=stube
Icon=io.github.sudomastery.stube_pro
Terminal=false
Type=Application
Categories=AudioVideo;Network;
Keywords=youtube;download;video;yt-dlp;stube;
