[Desktop Entry]
Name=STube Youtube Downloader
Comment=Youtube Video downloader for Fedora
Exec=stube
Icon=stube
Terminal=false
Type=Application
Categories=AudioVideo;Network;
Keywords=youtube;download;video;yt-dlp;stube;
